name: PR validation
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize
jobs:
  PR-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Convetional Commits Pull Request
        uses: jef/conventional-commits-pr-action@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

